<div class="container__big-card">

  <div class="big-card__photo">
    <a [routerLink]="['content', bigCard.id]"><img
      [src]="bigCard.photoCover"
      alt=""
      height="200px"
      srcset=""
    ></a>
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', bigCard.id]">{{ bigCard.title }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a [routerLink]="['content', bigCard.id]">
          {{ bigCard.description }}
      </a>
    </p>
  </div>

</div>
