.container__carrousel{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.container__carrousel>div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
    color: white;
    height: 500px;
    padding: 0px 60px 0px 60px;
    cursor: pointer;
}
.container__carrousel > div>i{
    background-color: black;
    color: white;
    cursor: pointer;
}

.container__carrousel > div:hover{
    background-color: rgb(76, 71, 71);
}

.container__carrousel > div>i:hover{
    background-color: rgb(76, 71, 71);
}

hr{
    margin-top: 20px;
    margin-bottom: 5px;
}