<app-menu-title></app-menu-title>

<div class="container__articles">
  <app-carrousel [banner]="bannerData1"></app-carrousel>
  <div class="articles__main">
<!-- 
    <app-big-card
      Id="0"
      photoCover="https://swebtoon-phinf.pstatic.net/20240619_18/1718748890106BGIMd_JPEG/2VampireFamily_EpisodeList_Mobile.jpg?type=crop540_540"
      cardTitle="VAMPIRE FAMILY LANÇA NOVO CAPÍTULO E SURPREENDE"
      cardDescription="no novo capitulo de vampire family, mais duas pessoas que se envolveram com a familia vampiro foram transformadas. ninguém sabe o que pode acontecer a seguir...."
      >
    </app-big-card> -->
    <app-big-card
        [bigCard]="bannerData1"
      >
    </app-big-card>
    <app-big-card
        [bigCard]="bannerData2"
      >
    </app-big-card>
    <app-big-card
        [bigCard]="bannerData3"
      >
    </app-big-card>
    

  </div>
  <div class="articles__others">
    <app-small-card
    [smallCard]= "smallCardData1">
      
    </app-small-card>
    <app-small-card
    [smallCard]= "smallCardData2">
      
    </app-small-card>
    <app-small-card
    [smallCard]= "smallCardData3">
      
    </app-small-card>
    <hr />
  </div>
</div>
