<div class="container__menu-bar">
  <div>
    <a routerLink=""><img src="https://www.shareicon.net/data/512x512/2015/09/28/648033_round_512x512.png"></a>
    <h1><a routerLink="">Webtoon Blog</a></h1>
  </div>
  <ul>
    <li><a href="https://www.linkedin.com/in/mariana-letícia-a93a31201/">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/Marianannn">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/mariana_907/">Instagram</a></li>
  </ul>
</div>
